# Ignore dependencies & caches
node_modules
npm-debug.log
yarn-error.log
.pnpm-store

# Ignore local env & secrets
.env*

# Ignore build output
dist
build
coverage

# Ignore system files
.DS_Store
.git
.gitignore
.vscode
.idea

# Ignore Docker-related files
.dockerignore
Dockerfile* 
docker-compose*.yml

# Jenkins-related files
Jenkinsfile

# Ignore logs
logs
*.log

# Ignore temporary files
tmp